body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 0;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
